<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <logger name="qht.shopmypham.com.vn" level="DEBUG"/> <!-- Thay đổi tên gói và cấp độ log tùy theo yêu cầu -->
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>